* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  /* font-size: 18px; */
}

html {
  scroll-behavior: smooth;
}

li,
a {
  text-decoration: none;
}

:root {
  --c-bkg: #feecc2;
  --c-text-1: #2d0103;
  --c-text-2: #642624;
  --c-text-3: #6e3e37;
  --c-text-4: #b9a183;
  --c-text-5: #cab08f;
  --c-g: #1a472a;
  --c-s: #740001;
  --c-h: #ecb939;
  --c-r: #222f5b;

  --f-text: "Special Elite", "Montserrat", sans-serif;
  --f-ui: "Montserrat", sans-serif;
  --f-uiw: 500;
}

body {
  background-color: var(--c-bkg);
  font-family: var(--f-ui);
  width: 1000px;
  margin: auto;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
  color: var(--c-text-2);
}

h1 {
  font-size: 4.209rem;
  font-family: var(--f-text);
  padding-top: 100px;
  text-align: center;
}
h2 {
  font-size: 2.441rem;
  font-family: var(--f-text);
}
h3 {
  font-size: 1.953rem;
  font-family: var(--f-ui);
}
h4 {
  font-size: 1.563rem;
  font-family: var(--f-ui);
}
h5 {
  font-size: 1.25rem;
  font-family: var(--f-ui);
  font-weight: var(--f-uiw);
}
.text_small {
  font-size: 0.75rem;
  font-family: var(--f-ui);
}
p {
  font-weight: 600;
  color: var(--c-text-2);
}

.pdecorated {
  font-family: var(--f-text);
}

header p {
  font-family: var(--f-ui);
  font-weight: var(--f-uiw);
  /* font-size: 18px; */
}

/* HEADER */
.h-students {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.crest-students {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.crest-wrap {
  display: grid;
  justify-items: center;
  align-items: center;
}

.crest-wrap img,
.crest-numbers {
  grid-column: 1/1;
  grid-row: 1/1;
}
.crest-numbers {
  color: white;
  grid-column: 1/1;
  grid-row: 1/1;
}

/* .crest-numbers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* Styling forms */

select,
input {
  color: var(--c-text-2);
  background-color: var(--c-bkg);
  font-size: var(--f-uiw);
  font-weight: var(--f-uiw);
  padding: 8px 12px;
  border: 3px solid var(--c-text-2);
}

::placeholder {
  color: var(--c-text-2);
}

form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

/* MAIN */

.hidden {
  display: none;
}

/* Styling the list */

/* hr {
  border: 2px solid var(--c-text-2);
} */

table {
  width: 100%;
  border-spacing: 0px;
  color: var(--c-text-2);
  text-align: center;
  font-weight: 600;
  font-family: var(--f-text);
}

th {
  padding: 16px 0px;
  border-bottom: 2px solid var(--c-text-2);
  border-right: 2px solid var(--c-text-2);
  /*  border-bottom-style: double; */
  border-collapse: collapse;
}

td {
  padding: 18px 0px;
  border-bottom: 2px solid var(--c-text-2);
  border-right: 2px solid var(--c-text-2);
  border-top: 2px solid var(--c-text-2);
  border-collapse: collapse;
}
th:last-of-type,
td:last-of-type {
  border-right: none;
}

/* td:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
 */
.icon-list {
  max-width: 10%;
}

/* Modal */

.jopen:hover {
  text-decoration: underline 3px;
  font-weight: 700;
  cursor: pointer;
}
#circle {
  border-radius: 50% 50% 50% 50%;
  width: 100px;
  height: 100px;
  border: 3px solid var(--c-text-2);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  border: 4px solid var(--c-s);
  z-index: 4;
  background-color: var(--c-bkg);
  width: 600px;
  max-width: 80%;
}

.active {
  display: initial;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.close {
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--c-bkg);
  font-size: 3rem;
  font-weight: 400;
  padding: 8px;
  color: var(--c-text-2);
}

.active-overlay {
  position: fixed;
  opacity: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c-bkg);
  pointer-events: none;
}

/* .activeo {
  pointer-events: none;
  opacity: 0;
} */

/* Buttons */
button {
  font-family: var(--f-ui);
  font-weight: var(--f-uiw);
  background-color: var(--c-bkg);
  color: var(--c-text-2);
  border: 2px solid var(--c-text-2);
  width: auto;
  padding: 6px 16px;
}

button:hover {
  background-color: var(--c-text-2);
  color: var(--c-bkg);
}

.modal-body {
  padding: 0 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 60% 40%;
  justify-items: center;
}

.images_modal {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
}

.icons_modal {
  display: flex;
  flex-direction: row;
  padding: 8px;
}
/* .student-photo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.house-crest {
  grid-column: 1/2;
  grid-row: 2/3;
} */

.student-info {
  grid-column: 2/3;
  grid-row: 1/2;
}

.infor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
  width: 250px;
}

.options_modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
}

.btn-options {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  align-items: center;
}
.disabled,
.disabled:hover {
  border: var(--c-text-4);
  background-color: var(--c-text-4);
  color: var(--c-text-5);
}

.text_expelled {
  text-align: center;
}
